.node {
	border:2px solid #346789; 
 
	z-index:10;
	position:absolute; 
	background-color:white;
	font-family:helvetica;
 
	font-size:0.8em;
	-moz-border-radius:0.6em; 
	border-radius:0.6em; 

	cursor:pointer;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}

.node .title {
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px dotted gray;
}

.exportnode {
	background: red;
	position: absolute;
}

.node td {
/*	border: 1px solid black; */
}

.inputs {
	padding-left: 0.5em;
}

.outputs {
	padding-right: 0.5em;
	text-align: right;
}

body > h1 {
	position: absolute;
	left: 200px;
}

.group {
	z-index: 5;
	background-color: rgba(0,255,0,0.25);
	border: 3px dashed black;
	border-radius: 10px;
	position: absolute;
}

.group .title {
	font-size: 200%;
}

.inputarea {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: red;
}

.outputarea {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: blue;
}

.loadwin {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: yellow;
}

.loadwin ul {
	width: 400px;
	max-height: 300px;
	overflow: scroll;
}